.badge {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%) translateY(-50%);
  background-color: #76e2e4;
  color: #000;
  padding: 0.8rem;
  border-radius: 50px;
  transition: all 1s;
}
.badge:hover,
.badge:active {
  color: #fff;
  background-color: #000;
}
