.cart_item {
  background-color: rgb(137, 163, 218);
  border-radius: 5px;
  padding: 1rem;
}
.item_detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title_container {
}
.title {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  color: #000;
  font-weight: bold;
  display: inline-block;
  margin-right: 1.5rem;
}
.title::first-letter {
  text-transform: uppercase;
}
.times {
  color: #000;
  text-transform: uppercase;
  font-size: 1rem;
}
.quantity {
  color: #000;
  text-transform: uppercase;
  font-size: 2.5rem;
}
.price_container {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.price_tag {
  color: #000;
  font-size: 1.5rem;
}
.price_total {
  color: #000;
  font-size: 2.5rem;
}
.price_per_item {
  color: #000;
  font-size: 1.5rem;
}
.description {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: justify;
}
.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}
.actions button {
  border: none;
  border-radius: 50px;
  padding: 0.5rem 3.5rem;
  transition: all 1s;
}
.actions button:hover {
  background-color: rgb(204, 199, 199);
}
