.container {
  width: 70rem;
  max-width: 90%;
  background-color: #000;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 3rem;
}

.products_header {
  padding: 1.5rem;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
}
.products_header .title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #fff;
  text-align: center;
}
.products {
  height: 50rem;
  flex-direction: column;
  padding: 1rem;
}
.products_list {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  overflow: none;
  overflow-y: scroll;
}
.products_list li {
  margin-right: 1rem;
}
